/**BODY**/

body {
    margin:0;
    height: 100vh;
    background-color: #32303C;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


.img-bg-main{
height :100vh;
width: 100%;
overflow-x: hidden;
}

/**HEADER**/

.header1 {
    display: flex;
    align-items: center;
    height: 82px;
    width: 100vw;
    box-shadow: 1px 1px 1px white;
    
}

.anim {
   height: 55px;
   margin-left: -450px;
   margin-right: -475px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right:auto;
}

.webecom-titre{
    font-family: "Catamaran";
    color: #F0EFF6;
    font-size: 30px;
    
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #F0EFF6;
    font-family:"roboto";
    font-size: 18px;
    font-weight: bold;
    gap: 100px;
    padding-right: 100px;
    
  }

  a:link 
  { 
   text-decoration:none; 
   color: #F0EFF6;
  } 

  
  a:visited 
  { 
   text-decoration:none; 
   color: #F0EFF6;
  } 

  .barre{
    margin-top: -15px;
    width: auto;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    transform-origin: left center;
}


.notre-equipe:hover+.barre{
    transform: scaleX(1);
}
.nos-prestations:hover+.barre{
    transform: scaleX(1);
}

.nos-creations:hover+.barre{
    transform: scaleX(1);
}

.nous-contacter:hover+.barre{
    transform: scaleX(1);
}


/***FORMULAIRE**/

.formulaire {
    color: #F0EFF6;
    font-family: "Raleway";
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
}

.champs {
    width: 100%;
    padding-bottom: 45px;
    background-color: #F0EFF6;
    border-radius: 5px;
    box-shadow: 1px black;
    margin-top: 5px;
    font-size: 14pt;
}

.div_champs {
    padding-bottom: 2%;
}

.champs_msg{
    width: 100%;
    padding-bottom: 200px;
    border-radius: 5px;
    box-shadow: 1px black;
    margin-top: 5px;
    background-color: #F0EFF6;
    font-size: 14pt;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.div_boutton_envoyer {
 
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(160deg, rgba(184, 234, 255, 1), rgba(94, 96, 149, 0), rgba(40, 34, 75, 0), rgba(133, 138, 227, 1)) 1;

    margin-left: 5%;

    

}

.p_envoyer{


font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
color: #F0EFF6;
}