/**BODY**/

body {
    margin:0;
    height: 100vh;
    background-color: #32303C;
    background-repeat: no-repeat;
    overflow-x: hidden;
    color: #F0EFF6;
}


.img-bg-main{
height :100vh;
width: 100%;
overflow-x: hidden;
}

/**HEADER**/

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    width: 100vw;
    box-shadow: 1px 1px 1px white;
}

.anim {
   height: 55px;
   padding-left: 30px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right:auto;
}

.webecom-titre{
    font-family: "Catamaran";
    color: #F0EFF6;
    font-size: 30px;
    
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #F0EFF6;
    font-family:"roboto";
    font-size: 18px;
    font-weight: bold;
    gap: 100px;
    padding-right: 100px;
    
  }

  a:link 
  { 
   text-decoration:none; 
   color: #F0EFF6;
  } 

  
  a:visited 
  { 
   text-decoration:none; 
   color: #F0EFF6;
  } 

  .barre{
    margin-top: -15px;
    width: auto;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 200ms ease-in-out;
    transform-origin: left center;
}


.notre-equipe:hover+.barre{
    transform: scaleX(1);
}
.nos-prestations:hover+.barre{
    transform: scaleX(1);
}

.nos-creations:hover+.barre{
    transform: scaleX(1);
}

.nous-contacter:hover+.barre{
    transform: scaleX(1);
}

  /*****************PAGE**************************/
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
  }

.pdl {
    padding-top: 50px;
    margin-bottom: -50px;
    font-size: 24pt;
    font-weight: bold;
    color: #858AE3;
}

.box {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.rangee {
    display: flex;
    gap: 250px;
}

.case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.laphoto {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.role {
    margin-top: -10px;
    font-style: italic;
    color: #B8EBFF;
}

