/**BODY**/

body {
    margin:0;
    height: 100vh;
    background-image: url(../img/index/BG1/BG.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
}


.img-bg-main{
height :100vh;
width: 100%;
overflow-x: hidden;
}

/**HEADER**/

.header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    width: 100vw;
    box-shadow: 1px 1px 1px white;
}

.anim {
   height: 55px;
   padding-left: 30px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right:auto;
}

.webecom-titre{
    font-family: "estilo pro bold";
    color: #F0EFF6;
    font-size: 30px;
    
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #F0EFF6;
    font-family:"roboto";
    font-size: 18px;
    font-weight: bold;
    gap: 100px;
    padding-right: 100px;
    
  }

  a:link 
  { 
   text-decoration:none; 
   color: #F0EFF6;
  } 

  
  a:visited 
  { 
   text-decoration:none; 
   color: #F0EFF6;
  } 

/**********************************************/
/***PAGE_1***/


.DIV_TXT {
    color: #F0EFF6;
    position: absolute;
    width: 447px;
    height: 372px;
    left: 281px;
    top: 196px;

}

.slogan {
    font-family: "Archivo Narrow";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 97px;
    letter-spacing: 0em;
    text-align: left;
}

.s_slogan {
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -50px;

}

.div_découvrir {
 
 
    position: absolute;
    width: 284px;
    height: 77px;
    left: 0px;
    top: 400px;

    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(160deg, rgba(184, 234, 255, 1), rgba(94, 96, 149, 0), rgba(40, 34, 75, 0), rgba(133, 138, 227, 1)) 1;
    

}

.p_découvrir{


font-family: "Raleway";
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

.anim2 {
    height: 750px;
    padding-left: 650px;
    padding-top: 50px;
}




/**********************************************/
/***PAGE_2***/




.part2  {
    height: 50vh;    
    background-image: url(../img/index/BG2/BG.png);
    background-repeat: no-repeat;
    background-position: absolute;    
    background-position-x: -360px;
    height: 720px;
    font-family: "Raleway";
    color: white;
    font-size: 24pt;
    overflow-x: hidden;
}

.txt-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nsw {
    font-family: "Archivo Narrow";
    font-size: 48pt;
    font-weight: bold;
}

.nsw-desc {
    margin: -20px;
}

.qualites {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

}

.graphisme-txt{
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.communication-txt{
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.dw-txt{
    justify-content: center;
    align-items: center; 
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');