body {
    margin: 0 0;
    max-width: 100vw;
    overflow-x: hidden;
    
    display: grid;
    font-family: 'Raleway';
   
}

/************************************/
/**********  HEADER   ***************/
/************************************/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

nav {
    background-color: #FFF;
    height: 300vh;
    width: 95vw;
    transition: 0.4s;
    transform: translateY(-200%);
    position: absolute;
    color: black;
    font-size: 36pt;
    padding:50px;
    overflow: hidden;
    z-index: 1;
}



nav a,nav a:hover,nav a:visited,nav a:active{
    color: black;
	text-decoration:none;
}

nav>a:nth-child(1),a:hover:nth-child(1),a:visited:nth-child(1){
    color: #ACC4A1;
}

.ferme{
    transform: translateY(0%);
    overflow:hidden; 
   
}


/************************************/
/**********  MAIN PAGE 2    ***************/
/************************************/

.section2 {
    background-image: url(/img/fond_montagnes.png);
    height: 100vh;
    margin: 0 0;
}


/************************************/
/**********  FOOTER   ***************/
/************************************/

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tfooter {
    display: inline-flex;
    width: 150px;
    grid-area: tfooter;
    text-align: right;
    margin-right: 20px;
}

.suiveznous {
    display: grid;
    grid-template-areas: "tfooter  insta_footer"
                         " none fb_footer ";
    
}

.nouscontacter {
    display: grid;
    grid-template-areas: "tfooter  phone_footer"
                         " tfooter mail_footer "
                         " tfooter adresse_footer";
    grid-template-columns: 1fr auto;
}


.fb_footer {
    grid-area: fb_footer ;
    margin-top: -65px;
}

.insta_footer {
    grid-area: insta_footer ;
    height: 33px;
    width: 33px;
    margin-top: 35px;
}

.mail_footer {
    grid-area: mail_footer ;
    margin-left: 40px;
    transform: translateY(20px);

}

.phone_footer {
    grid-area: phone_footer ;
    margin-left: 40px;
    transform: translateY(20px);

}

.adresse_footer {
    grid-area : adresse_footer ;
    margin-left: 40px;

}

