body {
    margin: 0px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;

}


header {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-top: 30px;
    padding-left: 10px;
}

.LogoSite {
    width: 9%;
    padding-left: 40px;
}

.NavBarHeader {
    display: flex;
    gap: 80px;
    color: white;
    font-family: Arial;
    font-size: 16pt;
    text-decoration: none;
}

.nav-bar-nmv {
    text-decoration: none;
    color: white;
}

.TexteDivMain {
    color: white;
    font-family:'Abril Fatface';   
    font-size: 88pt;
    padding-left: 100px;
}

.scroll {
    font-family: Arial;
    font-size: 16pt;
    color: white;
    display: flex;
    justify-content: center;
}

.flechebas {
    margin-bottom: -7px;
}

.infomagasin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    font-size: 20pt;
    padding-top: 250px;
    font-weight: bold;
    
}

.magasinserevice {
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.imgshop {
    width: 15%;
    
}

.retraitsanscontact {
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.imgsanscontact {
    width: 15%;
   
}

.livraisonsanscontact {
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.imgvan {
    width: 15%;
    
}

.h-mv {
    font-size: 72pt;
    font-family:'Abril Fatface';
    padding-left: 200px;
    padding-bottom: 50px;
}

.h-mv-deco {
    height: 15px;
    width: 60px;
    background-color: #ADD981;
    margin-top: -100px;
}

.mv-plantes {
    display: flex;
   
    padding-left: 150px;
}

.mv-plante1-photo {
    width: 100%;
}

.mv-plante1-info {
    display: flex;
    background-color: #d1d1d1;
    font-family: arial;
    padding-left: 20px;
    font-weight: bold;
    gap: 150px;
}

.mv-plante1-info-texte-prix {
    color: #6b973e;
    margin-top: -10px;
}

.mv-plante1-info-esp {
    background-color: #ADD981;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    
}

.mv-plante1-info-esp-texte {
    color: white;
    text-align: center;
}





.mv-plante2-photo {
    width: 100%;
}

.mv-plante2-info {
    display: flex;
    background-color: #d1d1d1;
    font-family: arial;
    padding-left: 20px;
    font-weight: bold;
    gap: 150px;
}

.mv-plante2-info-texte-prix {
    color: #6b973e;
    margin-top: -10px;
}

.mv-plante2-info-esp {
    background-color: #ADD981;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    
}

.mv-plante2-info-esp-texte {
    color: white;
    text-align: center;
}

.mv-plante3-photo {
    width: 100%;
}

.mv-plante3-info {
    display: flex;
    background-color: #d1d1d1;
    font-family: arial;
    padding-left: 20px;
    font-weight: bold;
    gap: 150px;
}

.mv-plante3-info-texte-prix {
    color: #6b973e;
    margin-top: -10px;
}

.mv-plante3-info-esp {
    background-color: #ADD981;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    
}

.mv-plante3-info-esp-texte {
    color: white;
    text-align: center;
}

.mv-plante4-photo {
    width: 100%;
}

.mv-plante4-info {
    display: flex;
    background-color: #d1d1d1;
    font-family: arial;
    padding-left: 20px;
    font-weight: bold;
    gap: 150px;
}

.mv-plante4-info-texte-prix {
    color: #6b973e;
    margin-top: -10px;
}

.mv-plante4-info-esp {
    background-color: #ADD981;
    width: 150px;
    border-radius: 100px;
    text-align: center;
    
}

.mv-plante4-info-esp-texte {
    color: white;
    text-align: center;
}

.h-np {
    font-size: 72pt;
    font-family:'Abril Fatface';
    padding-left: 200px;
    padding-bottom: 50px;
    padding-top: 100px;
}

.h-np-deco {
    height: 15px;
    width: 60px;
    background-color: #ADD981;
    margin-top: -100px;
}



/* latin-ext */
@font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v12/zOL64pLDlL1D99S8g8PtiKchq-lmjdLh.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v12/zOL64pLDlL1D99S8g8PtiKchq-dmjQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

