header {
    background-color: plum;
    font-family: arial;
    padding : 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border-bottom: solid;
    border-width: 2px;
    border-color: white;
}

body {
    margin: 0px;
    background: plum;
}

.h1 {
padding-left: 10px;
padding-right: 40px;

}

.chaussures {
padding-left: 20px;
padding-right: 20px
}

.mobilier {
padding-left: 20px;
padding-right: 20px
}

.fruits {
padding-left: 20px;
padding-right: 1400px
}

.search {
   padding-right: 30px;

}

.fraises {
    width: 20%
}