body {
    margin: 0 0;
    background-color: #221D35;
    color: #FFF4FB;
    font-family: 'Jost';
    scroll-behavior: smooth;
}

/**********************/
/*****   HEADER  ******/
/**********************/

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 30px;
    
}

.barre_blanche {
    background-color: #FFF4FB;
    margin-top: 10px;
    width: 30vh;
    height: 3px;
}

/**********************/
/*****   NAV  *********/
/**********************/

nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    transform: translateY(-200%);
    background-color: #221D35;
    transition: ease-in 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
    

}

nav>p:nth-child(1){
    color: #D9858E;
}

nav>a,nav>a:visited,nav>a:hover,nav>a:active{
    color: #FFF4FB;
    text-decoration: none;
}


.ferme {
    transform: translateY(10%);
    transition: ease-out 0.5s;
}

.main {
    height: 100vh;
    width: 100vw;
}

/**********************/
/*****   PAGE 1  ******/
/**********************/

.page1 {
    font-family: 'Jost';
    font-size: 24px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.txtpage1 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
}

.page_1_txt2 {
    color: #D9858E;
    font-family: 'Playfair Display';
    font-size: 42pt;
    font-weight: bold;
    margin-top: -25px;
    margin-bottom: -15px
}

.npage {
    font-family: 'Playfair Display';
    font-size: 64pt;

    position: absolute;
    bottom: -20px;
    left: 15px;

    background: -webkit-linear-gradient(90deg, rgba(57,44,107,1) 0%, rgba(192,125,242,1) 33%, rgba(255,133,201,1) 66%, rgba(255,138,151,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**********************/
/*****   PAGE 2  ******/
/**********************/

.page2 {
    font-family: 'Jost';
    font-size: 24px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

h2 {
    margin-left: 30px;
    margin-right: 30px;
    font-weight:bolder;
    font-size: 48pt;
    margin-bottom: -2px;
}

.work_webdesign {
    
    color:#FFF4FB;
    font-size: 36pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 65px;
    margin: 20px;
    background-image: url('/img/index/img_webdesign.png');
    background-repeat: no-repeat;
    background-size: cover;

    
}

.titre_work {
    transform: translateY(70px);
    background-color: #D9858E;
    padding: 5px;
    display: flex;
    justify-content: center;
}


.work_illu {
    
    color:#FFF4FB;
    font-size: 36pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 65px;
    margin: 20px;
    background-image: url('/img/index/img_illustrations.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}



/**********************/
/*****   PAGE 3  ******/
/**********************/

.page3 {
    font-family: 'Jost';
    font-size: 24px;
    height: 100vh;
    width: 100vw;
    position: relative;

}

.skills {
    display: grid;
    grid-template-columns: 125px 1fr;
    margin-bottom: 10px;
    

}

.logo_skills {
    height: 50px;
    margin-left: 50px;
    
}

.desc_skills {
    margin-top:-30px;
}

.barre_blanche_skills {
    height: 10px;
    width: 75%;
    margin-top: -15px;
    background-color: #FFF4FB;
    border-radius: 5px
}

.barre_skills {

    height: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(57,44,107,1) 0%, rgba(192,125,242,1) 33%, rgba(255,133,201,1) 66%, rgba(255,138,151,1) 100%);
}

.resume {
    display: inline-block;
    background-color: #D9858E;
    padding: 15px;
    border-radius: 8px;
    font-size: 20pt;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
}

a,a:visited,a:hover,a:active{
    color: #FFF4FB;
    text-decoration: none;

}

/**********************/
/*****   PAGE 4  ******/
/**********************/

.page4 {
    font-family: 'Jost';
    font-size: 24px;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.linkedin {
    display: flex;
    justify-content: center;
    align-items: center
}

.moyenconatct>a,.moyenconatct>a:visited,.moyenconatct>a:hover,.moyenconatct>a:active{
    color: #FFF4FB;
    text-decoration: none;
    gap:20px;
    display: flex;
    align-items: center;
}

.moyenconatct {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 75px;

}

/**********************/
/*****  FOOTER   ******/
/**********************/

footer {
    font-size: 6pt;
    display: flex;
    justify-content: center;
    opacity: 25%;
    padding: 15px;
}

footer>a,footer>a:visited,footer>a:hover,footer>a:active{
    color: #FFF4FB;
    text-decoration: none;
    font-size: 6pt;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,800&family=Playfair+Display:wght@400;500;700;800;900&display=swap');