/************************************/
/**********  HEADER   ***************/
/************************************/

nav {
    transform: translateY(0%);
    position: absolute;
    top: -40px;    
    display: flex;
    background-color: transparent;
    font-size: 16pt;
    height: 1vh;
    justify-content:center;
    
}

.menu {
    display: none;
}

nav>a{
    margin-left: 50px;   
}

nav>a:nth-child(1){
    margin-left: auto;   
}

nav>a:nth-child(5){
    transform: translateY(15px);
    margin-left: auto;   
}

.eng {
    height: 32px;
    margin-left: -50px;
}

/************************************/
/**********  MAIN PAGE 1    ***************/
/************************************/

.photo_accueil2 {
    width: 800px;
}

/************************************/
/**********  FOOTER   ***************/
/************************************/

footer {
 
}

.tfooter {
    display: inline-flex;
    width: 150px;
    grid-template-columns: tfooter;
}

.suiveznous {
    display: grid;

}

/* 
    display: flex;
    align-items: center;
    justify-content: space-between;
*/