.block-info,.block-info-slide2 ,.block-info-slide3,.block-info-slide4,.block-info-slide5 {
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    border-left: solid 5px black;
    color: #e16b5c;
    padding-left: 10px;  
    grid-column: 1/2;
    padding: 10px;
  
    position: relative;
    font-size: 13pt;
    height: 100%;
    
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 15;
  }
  
  .block-info p {
    padding-top: 0px;
  
    font-size: 16pt;
  }
  .jan-info p {
      padding-top: 250px;
      font-size: 16pt;
  }
  
  .takayan-info p {
    padding-top: 250px;
    font-size: 16pt;
  }
  
  .Polyphia-info p {
    padding-top: 250px;
    font-size: 16pt;
  }
  .Within-info p {
    padding-top: 250px;
    font-size: 16pt;
  }
  
  .jan-info h2 {
      font-size: 25pt;
  }
  
  .takayan-info h2 {
    font-size: 25pt;
  }
  .Polyphia-info h2{
    font-size: 25pt;
  }
  
  .Within-info h2{
    font-size: 25pt;
  }
  .block-info h2 {
      font-size: 25pt;
  }
  
  h2 {
    font-size: 15pt;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
  }
  
  .boxgrid-img, .boxgrid-img-slide2 {
  
    overflow: hidden;
    grid-column: 2/2;
  }
  
  .grid-img, .grid-img2 .grid-img3,.grid-img4 {
  
    top: 0px;
    left: 0px;
  
   
    overflow: hidden;
  }
  
  .grid-img{
  
    filter: blur(4px);
  }
  
  .flex-text-slide2,.flex-text-slide3,.flex-text-slide4,.flex-text-slide5{
  
      height: 100%;
      width: 100%;
      padding-top: 140px;
      
  }
  .flex-text{
    padding-top: 70px;
    height: 100%;
      width: 100%;
  }
  
  
  .flex-text p {
    padding: 20px;
   
  }
  
  .flex-text-slide2 p {
    padding: 20px;
   
  }
  
  .flex-text-slide3 p {
    padding: 20px;
   
  }
  
  .flex-text-slide4 p {
    padding: 20px;
  
  }
  .flex-text-slide5 p {
    padding: 20px;
  
  }
  
  
  .rond {
    position: absolute;
    background-color: #e16b5c;
    width: 430px;
    height: 430px;
    border-radius: 225px;
    right: -200px;
    bottom: -200px;
  }
  
  .rondb {
    position: absolute;
    background-color: #ffffff;
    width: 380px;
    height: 380px;
    border-radius: 200px;
    right: -180px;
    bottom: -180px;
  }
  

  .logoinfo,.logoinfo3,.logoinfo2{
    z-index: 15;
    right:  0;
    bottom: 10px;

    width: 30%;
    position: absolute;
}