
.wrapper-prix{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    
  }
  
  .box-prix{
    border: #ccc 1px solid;
    border-radius: 20px 20px 20px 20px;
    background-color: #ffffff;
    padding: 10px;
    top: 150px;
    position: absolute;
    z-index: auto;
   
    width: 400px;
    height: 270px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: 15;
  
   
  
  }
  
  .box-prix.info{
    height: 140px;
    transform: translateY(300px) translateX(-120%);
    z-index: 4;
  }
  
  .box-prix:nth-child(1){
  transform: translate(120%);
  }
  .box-prix:nth-child(2){
  transform: translate(-120%);
  }
  
  .box-prix p{
   
    font-size: 16pt;
    padding-top: 20px;
  }
  
  .box-prix p span{
    color: rgb(100, 100, 100);
    font-style: italic;
  }
  
  .box-header{
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    font-size: 16pt;
    justify-content: space-between;
    height: 50px;
    padding-bottom: 10px;
    
  
  
  }
  .box-header h2 {
    border: 0px;
    padding-bottom: 0px;
    font-size: 18;
  }
  
  .box-header p {
    color: white;
    font-weight:bold;
    background-color: #172930;
    padding: 10px;
    border-radius: 10px;
  }
  