



.infoplus,
.infopluss ,.infoplus-slide2,.infopluss-slide2,.infoplus-slide3,.infopluss-slide3, .infoplus-slide4,.infopluss-slide4, .infoplus-slide5,.infopluss-slide5{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(51, 51, 51);

  color: white;
  border: none;

  font-size: 41pt;
  position: absolute;

  z-index: 7;
}

.infoplusborders {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  position: absolute;
  background: conic-gradient(
   
    #bb857b,
    #eca89b,
    #eca89b,
    #eca89b,
    #eca89b,
    #eca89b,
    #eca89b,
    #eca89b
   
  );

  z-index: 5;
  animation: spin 4s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}

.infopluss, .infopluss-slide2, .infopluss-slide3, .infopluss-slide4 , .infopluss-slide5 {
  display: none;
  transform: rotate(45deg);
}

.div-info,.jan-info, .takayan-info,.Polyphia-info,.Within-info{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgb(51, 51, 51, 0.8);
  z-index: 13;
  display: grid;
  grid-template-columns: 30% 1fr;

  transform-origin: bottom;
  transform: scaleY(0.00000001);
  transition: 200ms ease-in-out;
}


.infoplus p {
  position: absolute;
  top: -40px;
  left: 32px;
}
.infoplus-slide2 p {
    position: absolute;
  top: -40px;
  left: 32px;
}

.infoplus-slide3 p {
  position: absolute;
top: -40px;
left: 32px;
}
.infoplus-slide4 p {
  position: absolute;
top: -40px;
left: 32px;
}

.infoplus-slide5 p {
  position: absolute;
top: -40px;
left: 32px;
}
.infopluss p {
  position: absolute;
  top: -38px;
  left: 32px;
}

.infopluss-slide2 p {
    position: absolute;
    top: -38px;
    left: 32px;
  }
  .infopluss-slide3 p {
    position: absolute;
    top: -38px;
    left: 32px;
  }
  .infopluss-slide4 p {
    position: absolute;
    top: -38px;
    left: 32px;
  }

  .infopluss-slide5 p {
    position: absolute;
    top: -38px;
    left: 32px;
  }
  
.info-button {
  position: absolute;
  z-index: 15;
  width: 300px;
  height: 300px;

  transform: translate(770px, 710px);
  display: flex;
  justify-content: center;
  align-items: center;
}