/* Slide 1 IMG */ 
.imganime1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  .logo-page1 {
    position: absolute;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .logo-page1 .logo {
    position: absolute;
  
    width: 400px;
    animation: rotation 2s infinite alternate ease-in;
    transform-origin: top center;
  }

  @keyframes rotation {
    0% {
      transform: rotateZ(0deg) translateY(140px) translateX(25px);
    }
    50% {
      transform: rotateZ(5deg) translateY(140px) translateX(25px);
    }
    100% {
      transform: rotateZ(-5deg) translateY(140px) translateX(25px);
    }
  }
  

.img1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 11;
    animation: vent 1s infinite ease-in alternate;
  }
  @keyframes trans {
    100%{
        transform: translateX(350px) scaleX(1);
    }
}
  .img1-2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
  }
  @keyframes vent {
    0% {
      transform: translateX(-4px) scale(0.9891);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .img2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    animation: maison 1s infinite ease-in alternate;
  }
  
  @keyframes maison {
    0% {
      transform: scaleX(0.998) translateX(0px);
    }
  }
  .img3 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    animation: moon 0.7s infinite ease-in alternate;
  }
  
  @keyframes moon {
    0% {
      transform: scale(0.9995);
    }
  }
  
  .img4 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
    animation: montagne 1.8s infinite ease-in alternate;
  }
  @keyframes montagne {
    0% {
      transform: translateX(2px);
    }
  }



  /* Slide 2 IMG */ 

  .img5 {
    position: absolute;
    z-index: 5;
  }
  .img6 {
    position: absolute;
    z-index: 6;
    animation: arbre 0.7s infinite alternate;
  }
  @keyframes arbre {
      100%{
          transform: scale(0.997) translate(2px);
      }
  }
  
  .img7 {
    position: absolute;
    z-index: 6;
  }
  
  .img8 {
    position: absolute;
    z-index: 2;
  }
  .img9 {
    position: absolute;
    z-index: 1;
  }
  .img10{
      position: absolute;
      z-index: 2; 
      animation: nuage 1s infinite alternate ease-in-out;
  }
  
  @keyframes nuage {
      100%{
          transform: translate(-2px) scale(0.995);
      }
  }



  /* Slide 3 IMG */
  .img11 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
  }
  
  .img12 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
  }
  .img13 {
    position: absolute;
    z-index: 7;
    width: 100%;
    height: 100%;
  }
  .img14{
      position: absolute;
      z-index: 8; 
     animation: nuage 1s infinite alternate;
      width: 100%;
    height: 100%;
  }
  
  .img15{
    position: absolute;
    z-index: 2; 
    width: 100%;
    height: 100%;
  
  }
  
  .img16{
    position: absolute;
    z-index: 1; 
    width: 100%;
    height: 100%;
    animation: slide3nuage 5s infinite alternate;
  }
  
  @keyframes slide3nuage {
    0%{
      transform: translateX(15px);
    }
  }


  /* Slide 4 IMG */ 

  
  .img16 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
  }
  
  .img17{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  .img18 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  .img19{
      position: absolute;
      z-index: 1; 
     
      width: 100%;
    height: 100%;
  }
  
  .img20{
    position: absolute;
    z-index: 0; 
    width: 100%;
    height: 100%;
    animation: slide3nuage 5s infinite alternate;
  
  }


   /* Slide 5 IMG */ 
   .imganime5{

    width: 100vw;
    height: 100vh;
  
  }

   .img21 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    animation: buisson 1s infinite alternate;
  }
  
  @keyframes buisson {
    100%{
      transform: translate(5px,5px)scale(0.995);
    }
  }
  
  
  .img22 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
  }
  
  .img23 {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
  }
  
  .img24 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    animation: buisson 1s infinite alternate;
  }
  
  .img25 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    animation: masque 1s infinite alternate;
  }
  
  @keyframes masque {
    100%{
      transform: scale(0.85);
    }
  }
  
  .img26 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  
  /* Slide 6 IMG */ 

  .img27 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    animation: slider 1s infinite alternate;
  
  }
  
  @keyframes slider {
    100%{
      transform: translate(7px);
    } 
  }
  
  
  .img28 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
  }
  
  .img29 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
  }
  
  .img30 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
  
  }
  
  .img31 {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
   
  }
  
  
  .img32 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    animation: arbre 1s alternate infinite;
  }
  
  @keyframes arbre {
    100%{
      transform: scale(0.995);
    }
  }
  .img33{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    animation: slider 1s infinite alternate-reverse;
  }
  .img34 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }


   /* Slide 7 IMG */ 

   .img35 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
  }
  .img36 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .img37 {
    position: absolute;
    z-index: 6;
    width: 100%;
    height: 100%;
    animation:  main infinite alternate 2s;
    animation-delay: 1s;
  }
  .img38 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
  
  }
  @keyframes main {
    0%{
      transform: translateY(150px);
    }
  }
  
  .img39 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    animation: masque infinite alternate 1s;
  
  }
  .img40 {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
  }
  
  