.particles {
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
  }
  .particles2 {
      transform: translate(100vw);
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 6;
    }
    .particles3 {
      transform: translate(200vw);
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 8;
    }
    .particles4 {
      transform: translate(300vw);
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 5;
    }
    .particles5 {
      transform: translate(400vw);
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 5;
    }
    .particles6 {
      transform: translate(500vw);
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 16;
    }
    .particles7 {
      transform: translate(600vw);
      left: 0;
      top: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 8;
    }
  