.imgtitre1,.imgtitre2,.imgtitre3{
    position: absolute;
    z-index: 8;
    
    transform: translate(-250px,150px);
}

.imgtitreslide4{
  position: absolute;
  z-index: 8;
  
  transform: translate(-250px,-100px);
}

.barretitre{
    width: 500px;
    transform: scaleX(0.01);
    transform-origin: left center;
    height:5px;
    position: absolute;
    z-index: 10;
    background-color: white;
    bottom: 300px;
    left: 50px;
   animation: trans 1s infinite alternate;
    
}

.imgtitre1 img{

    width: 80%;
    
}

.imgtitre2 img {

  width: 80%;
  
}

.imgtitre3 img{

  width: 80%;
  
}
.imgtitre4 img{

  width: 80%;
  
}

.textdate,.textdate2,.textdate3,.textdate4{
    position: absolute;
    width: 60%;
    z-index: 10;
    left: -180px;
    top: 300px;
  }
  