
body {
    margin: 0 0;
    max-width: 100vw;
    overflow-x: hidden;
    
    display: grid;
    font-family: 'Raleway';
   
}

/************************************/
/**********  HEADER   ***************/
/************************************/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);

}

nav {
    background-color: #FFF;
    height: 300vh;
    width: 95vw;
    transition: 0.4s;
    transform: translateY(-200%);
    position: absolute;
    color: black;
    font-size: 36pt;
    padding:50px;
    overflow: hidden;
    z-index: 1;
}



nav a,nav a:hover,nav a:visited,nav a:active{
    color: black;
	text-decoration:none;
}

nav>a:nth-child(3),a:hover:nth-child(3),a:visited:nth-child(3){
    color: #ACC4A1;
}

.ferme{
    transform: translateY(0%);
    overflow:hidden; 
   
}

/************************************/
/**********  MAIN PAGE 1  ***************/
/************************************/

.section1 {
    margin-top: 50px;
}

.section1 a, .section1 a:hover, .section1 a:visited, .section1:active {
    text-decoration:none;
    color: black;
}

.tel a, .mail a, .adresse {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    margin-left: 40px;
    margin-bottom: 15px;

}


.carte {
    margin: 30px;
}
/************************************/
/**********  FOOTER   ***************/
/************************************/

footer {
    background-color: #1A200D;
    color:#FFF;
    font-size: 16pt;
    padding: 25px;
}

.tfooter {
    color:#ACC4A1;
    font-weight: bold;
    font-size: 24pt;
}

.nouscontacter {
    display: flex;
    flex-direction: column
}

footer a,footer a:hover,footer a:visited,footer a:active{
    color: #FFF;
	text-decoration:none;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Raleway:wght@100&display=swap');