body {
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(/img/fond_montagnes.png);
    height: 71vh;
}

.section2 {
    background-image: none;
    margin-right: 150px;
}

.section1 {
    margin-left: 300px;
    margin-top: 150px;
    font-size: 30px;
}

.carte {
    width: 600px;
    margin: 50px;
    
}

.coo {
    margin-right: 150px;
}