body {
    background-image: url(/img/bg\ 1-min.png);   
    background-size: cover;
   
    margin: 0 0;
    color: white;
}

h1, h2 {
    font-family: 'Prompt';
}

.desc {
    font-family: 'Nunito Sans';
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************/
/***********   CARD  ************/
/********************************/

h1 {
    font-size: 16pt;
}

.home_img {
    height: 32px;
}

.card {
    width: 90vw;
    height: 90vh;    
    background: rgba(133, 133, 133, 0.116);
    border: 1px solid rgba(172, 17, 108, 0.281);
    box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 65px;
    position: relative;
  }

  .card h3 {
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    font-family: 'Prompt';
    font-weight: bold;
    position: absolute;
    bottom: -25px;
    left: 50px;
    font-size:24pt;
  }
  
.top, .bottom  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 50px;
      margin-right: 50px;
      color: white;
  }

  .bottom>a {
      color: white;
      font-family: 'Nunito Sans';
      text-decoration: none;
      font-style: italic;
      font-weight: 100;
  }

.home_img {
      margin-top: 10px;
  }

  .nom {
    font-family: 'Prompt';
    font-weight: bolder;
   
    margin-left: 20px;

}

.desc {
    margin-left: 10px;
}


.bottom {
    margin-top:45%;

}

.contenu>p>a {
    color:white;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')