body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}


/** HEADER **/

header {
    padding: 30px;
}


/** NAV **/

.menu {
    display: none;
}

nav {
    transform: translateY(15px);
    background-color: transparent;
    height: 60px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav>ul>li>a {
    font-size: 24px;
}


/** MAIN **/

main {
    display: grid;
    grid-template-areas: "txt-left barre-blanche img-right" "img-left barre-blanche txt-right";
    height: auto;
    align-items: center;
}

.barre-blanche {
    width: 3px;
    height: 80%;
    margin-top: 120px;
    margin-bottom: 120px;
    grid-area: barre-blanche;
}

.left {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
}

.right {
    display: flex;
    flex-direction: column-reverse;
    font-size: 24px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0px;
}

.img-left,
.img-right {
    min-height: 200px;
    max-width: 600px;
    min-height: 100px;
    max-height: 400px;
    width: 95%;
    height: 95%;
    margin: 0px;
}

.img-left {
    grid-area: img-left;
    margin-top: 120px;
}

.img-right {
    grid-area: img-right;
    margin-bottom: 120px;
}

.text-left {
    grid-area: txt-left;
}

.text-right {
    grid-area: txt-right;
}


/** FOOTER **/