body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}


/** HEADER **/

header {
    padding: 30px;
}


/** NAV **/

.menu {
    display: none;
}

nav {
    transform: translateY(15px);
    background-color: transparent;
    height: 60px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

nav>ul>li>a {
    font-size: 24px;
}


/* MAIN **/

main {
    font-size: 22px;
}

h1 {
    display: flex;
    justify-content: center;
}

main>div {
    display: grid;
    grid-template-areas: "infos infos infos infos infos" "choix-maitrise barre_blanche1 offres barre_blanche2 desc";
    align-items: center;
}

main ul {
    grid-area: choix-maitrise;
    display: flex;
    flex-direction: column;
    text-align: right;
    box-sizing: border-box;
}

.div-maitrise {
    justify-self: end;
}

.maitrise {
    width: 200px;
}

.infos {
    grid-area: infos;
    display: flex;
    justify-content: center;
}

.offres-amateur>div {
    justify-content: space-between;
    transform: translateY(-10px);
}

.barre-blanche1 {
    grid-area: barre_blanche1;
    width: 3px;
    height: 75%;
    margin: 0px;
}

.barre-blanche2 {
    grid-area: barre_blanche2;
    width: 3px;
    height: 75%;
    margin: 0px;
    margin-left: 50%;
}

.offres {
    grid-area: offres;
}

.desc {
    grid-area: desc;
    padding: 0;
    margin: 30;
    max-width: 400px;
    ;
}