* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #074756;
    color: white;
    font-family: 'Jost';
    height: 100vh;
  
}


/** HEADER **/

header {
    background-color: #06252C;
    display: flex;
    padding: 15px;
    flex-direction: row-reverse;
}


/** NAV **/

nav {
    height: 100vh;
    width: 100vw;
    background-color: #06252C;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    transform: translateY(-1000px);
    transition: .5s ease;
}

nav>ul>li {
    margin-bottom: 25px;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 4px;
    position: relative;
    display: block;
}

nav>ul>li>a::after {
    background-color: #FFCF26;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    transition: .5s ease;
}

nav>ul>li>a:hover::after {
    width: 100%;
    transition: .5s ease;
}

nav>ul>li:nth-child(3)>a {
    color: #FFCF26;
    font-weight: 500;
}

.nav-open {
    transform: translateY(0px);
    transition: .5s ease;
}

.menu {
    z-index: 15;
}


/** MAIN **/

main {
    height: auto;
   
}

h1 {
    margin: 60px;
}

main>div>.div-maitrise>ul {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 25px;
    cursor: pointer;
    text-transform: uppercase;
}

main>div>.div-maitrise>ul>li:nth-child(1) {
    color: #FFCF26;
    font-weight: bolder;
}

.prix1,
.prix2,
.prix3,
.prix4 {
    color: #FFCF26;
}

.barre-blanche1,
.barre-blanche2 {
    background-color: white;
    width: auto;
    height: 3px;
    margin: 60px;
    border-radius: 15px;
}

.infos {
    margin: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.offres-amateur {
    margin: 30px;
    margin-top: 60px;
    margin-left: 45px;
}

.offres-amateur>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.nvx-requis {
    color: #FFCF26;
    font-style: italic;
}

.desc {
    margin: 30px;
    margin-top: 60px;
    text-align: justify;
}


/** FOOTER **/

footer {
    background-color: #06252C;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

footer>a {
    color: white;
    text-decoration: none;
}

#particles-js{
    position: absolute;
    z-index: -1;
 
    width: 90%;
    }

    


    

    footer a{
        color: #FFCF26;
    }


    .footer-left{
        width: 150px;
    }
    .footer-left a img{
        margin-top: 5px;
        width: 30%;
    }