/************************************/
/************* BODY ***************/
/************************************/

body {
    margin: 0 0;
    font-family: 'roboto';
    background-color: #FFF6F1;
    overflow: hidden;

}

::selection {
    background-color: rgb(226, 148, 84);
  }



/************************************/
/************* HEADER ***************/
/************************************/


header {
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    font-variant-caps: all-small-caps;
    
 
    
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 2%;
    gap: 20px;
    
}

.logo {
    width: 70px;
    margin-top: 10px;
 }

a {
    text-decoration: none;
    color: #150404;
}

.header-middle {
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 2%;

}

/************************************/
/************ FORMULAIRE ************/
/************************************/


.formulaire {
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
}

.champs {
    width: 100%;
    padding-bottom: 30px;
    border-radius: 5px;
    border: solid 1px black;
    margin-top: 5px;
    font-size: 14pt;
    background-color: #FFF6F1;
}

.div_champs {
    padding-bottom: 2%;
}

.champs_msg{
    width: 100%;
    padding-bottom: 200px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 5px;
    font-size: 14pt;
    background-color: #FFF6F1;
}

.envoyer {
    display: inline-block;
    background-color: rgb(226, 148, 84);
    padding: 15px;
    margin-left: 30px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
}


/************************************/
/************* FOOTER ***************/
/************************************/

footer {
    background-color: #150404;
    color: #FFF6F1;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.txt_footer {
    margin-left: 50px;
}