/************************************/
/************* BODY ***************/
/************************************/

body {
    margin: 0 0;
    font-family: 'Roboto';
    background-color: #FFF6F1;
    overflow-x: hidden;
  

}

::selection {
    background-color: rgb(226, 148, 84);
  }



/************************************/
/************* HEADER ***************/
/************************************/


header {
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    font-variant-caps: all-small-caps;
    color: #FFF6F1;
 
    
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 2%;
    gap: 20px;
    
}

.logo {
    width: 70px;
    margin-top: 10px;
 }

a {
    text-decoration: none;
    color: #FFF6F1;
}

.header-middle {
    display: flex;
    align-items: center;
    gap: 50px;
    
    
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 2%;

}

/************************************/
/************* PAGE 1 ***************/
/************************************/

.page1 {
    background-image: url(/ASIATOUR/img/index/BG.png);
    width: 100vw;
    height: 100vh;
}

.txt_main {
    position: absolute;
    top: 40%;
    left: 20%;
    font-variant-caps: all-small-caps;


}

h1 {
    color: #FFF6F1;
    font-size: 64pt;
    font-weight: bold;
    text-shadow: 5px 5px 5px #150404;
}

h2 {
    color: #FFF6F1;
    text-shadow: 3px 3px 3px #150404;
    margin-top: -50px;
    margin-left: 20px;
}


/************************************/
/************* PAGE 2 ***************/
/************************************/

.page2 {
    height: 100vh;
    overflow-y: hidden;  
}

.container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

.illu_pays {
    width: 300px;
    filter: grayscale(100%);
    transition: ease-in .2s ;
    transform-origin: 50% 50%;
    padding-bottom: 5%;
    
}

.illu_pays:hover {
    filter: grayscale(0%);
    transition: ease-in .2s ;
    transform: scale(1.2);
    transform-origin: 50% 50%;
}

.selec {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24pt;
    font-variant-caps: all-small-caps;
    color: #150404;
}

/************************************/
/************* PIANO ****************/
/************************************/

.piano {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    z-index: -1;
    opacity: 10%;
}

.rouge {
    background-color: #C70017;
    height: 100vh;
    width: 33vw;
}

.rose {
    background-color: #FF99A1;
    height: 100vh;
    width: 33vw;
}

.jaune {
    background-color: #FFE662;
    height: 100vh;
    width: 33vw;
}

.piano-blanc {
position: absolute;
display: flex;

}


.blanc1 {
    background-color: #FFF6F1;
    width:200px;
    height: 100vh;
    margin-left: -100px;
 
}

.blanc2 {
    background-color:  #FFF6F1;
    height: 50vh;
    width: 100px;
    margin-left: 480px;

}

.blanc3 {
    background-color:  #FFF6F1;
    height: 50vh;
    width: 100px;
    margin-left: 535px;

}

.blanc4 {
    background-color: #FFF6F1;
    height: 100vh;
    width: 200px;
    margin-left: 480px;

}

/************************************/
/************* FOOTER ***************/
/************************************/

footer {
    background-color: #150404;
    color: #FFF6F1;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.txt_footer {
    margin-left: 50px;
}

.logo-webecom {
    width: 50px;
    margin-right: 50px;
}

.piano_footer {
    margin-left: auto;
    margin-right: 10px;
}