/************************************/
/************* BODY ***************/
/************************************/

body {
    margin: 0 0;
    font-family: 'Roboto';
    background-color: #FFF6F1;
    overflow-x: hidden;
  

}

::selection {
    background-color: rgb(226, 148, 84);
  }



/************************************/
/************* HEADER ***************/
/************************************/


header {
    display: flex;
    justify-content: space-between;
    font-size: 16pt;
    font-variant-caps: all-small-caps;
    color: #FFF6F1;
    font-family: 'Roboto';
 
    
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 2%;
    gap: 20px;
    
}

.logo {
    width: 70px;
    margin-top: 10px;
 }

a {
    text-decoration: none;
    color: #FFF6F1;
}

.header-middle {
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 2%;

}


/************************************/
/************* PIANO ****************/
/************************************/


body{
    background: rgb(55, 65, 65);
}

.blanches{
    display: flex;
    justify-content: center;
    gap: 6px;
}

.piano{
    display: table;
    margin: auto;
    margin-top: 10%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.touche{
    background: rgb(240, 240, 240);
    height: 260px;
    width: 100px;
    cursor: pointer;
    border-bottom-color: rgb(177, 174, 174);
    border-bottom-style: solid;
    border-bottom-width: 40px;
    margin-top: 40px;
    transition: 0.2s;
    font-size: 40px;
    text-align: center;
    line-height: 455px;
    color: rgb(177, 174, 174);
    user-select: none;
}

.toucheDown{
    background: rgb(177, 174, 174);
    border-bottom-color: rgb(114, 110, 110);
    border-bottom-width: 20px;
    margin-top: 60px;
    transition: 0.1s;
    color: rgb(114, 110, 110);
}

.dieses{
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin-left: 73px;
    margin-right: 64px;
    top: 20px;
    pointer-events: none; 
    font-size: 30px;
    text-align: center;
    line-height: 310px;
}

.noire{
    background: rgb(46, 46, 46);
    height: 180px;
    width: 60px;
    cursor: pointer;
    border-bottom-color: rgb(26, 26, 26);
    border-bottom-style: solid;
    border-bottom-width: 30px;
    transition: 0.1s;
    pointer-events: auto;
    color: rgb(73, 73, 73);
    user-select: none;
}

.noireDown{
    background: rgb(36, 36, 36);
    border-bottom-color: black;
    border-bottom-width: 15px;
    margin-top: 15px;
    transition: 0.2s;
    color: rgb(60, 60, 60);
}

.vide{
    height: 180px;
    width: 70px;
    pointer-events: none;
}