/***************** HEADER + NAV **/

.logo {
    width: 60px;
    left: 30px;
    top: 15px;
}

.listNav {
    top: 0px;
}


/************** MAIN **/

.txtMain {
    width: 75%;
    font-size: 42pt;
}

.txtMain h1 {
    font-size: 102pt;
}

h2 {
    font-size: 62pt;
}

.sep {
    font-size: 26pt;
    padding: 2%;
}


/*********** SECTION 02 **/

.txts02 {
    max-width: 500px;
}


/***************************** FOOTER **/

footer {
    padding: 2%;
}