*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Franklin';
    width: 100vw;
    overflow-x: hidden;
}


/**********************/


/******  HEADER    ****/


/**********************/

header {
    height: 0px;
}

.listNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: black;
    position: relative;
    justify-content: center;
    gap: 15px;
    font-variant: small-caps;
    font-size: 32pt;
    transform: translateY(50%);
}

nav {
    background-color: blanchedalmond;
    position: relative;
    transform: translateY(-150%);
    transition: ease-in-out .75s;
    height: 100vh;
    z-index: 2;
}

.nav-open {
    transform: translateY(0%);
    position: relative;
    transition: ease-in-out .75s;
}

.listNav a {
    text-decoration: none;
    color: black;
    position: relative;
}

ul {
    position: relative;
}

ul li {
    position: relative;
}

.menu {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 5;
}

.logo {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 64px;
}

nav ul li a::before {
    background-color: black;
    width: 0%;
    height: 3px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: ease-out .5s;
}

nav ul li a:hover::before {
    width: 100%;
    transition: ease-out .5s;
}


/***********************   MAIN   ****/

#s01 {
    height: auto;
    position: relative;
    margin: 30px;
    margin-top: 125px;
    text-align: justify;
}

.photoCit01 {
    width: 75%;
    height: auto;
    margin-left: 15px;
}

h1,
h2,
h3 {
    font-family: 'Baskervville';
    position: relative;
}

h1::after,
h2::after,
h3::after {
    content: "";
    background-color: #FFE37B;
    height: 15px;
    width: 50%;
    position: absolute;
    bottom: 5px;
    left: 5%;
    z-index: -1;
}

h1 {
    font-size: 32pt;
}

#s01 p,
#s02 p {
    margin: 15px 0px 15px 0px;
}

#s01 :nth-child(4) {
    background-color: #BADEC5;
    margin: 45px -30px 45px -30px;
    padding: 30px;
}

.sepimg {
    width: 100vw;
    height: 100px;
    background-image: url(../img/apropos/imgParralax.jpg);
    background-position: center;
    background-size: cover;
}


/*************************** SECTION 02 */

#s02 {
    height: auto;
    position: relative;
    margin: 30px;
    text-align: justify;
}

.photos02 {
    width: 85vw;
    height: auto;
}

#s03 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}


/************************** SECTION 03 **/

#s03 {
    height: auto;
    position: relative;
    margin: 30px;
}

h2 {
    font-size: 32pt;
}


/*--====== Gallery Section ======--*/

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}


/* Filterable Gallery */

.gallery_tabs {
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 0.8rem;
    padding: 1.2rem;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
}

.gallery_tabs li {
    padding: 0.7rem 2rem;
    border-radius: 50px;
    font-size: 0.95rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gallery_tabs li.active,
.gallery_tabs li:hover {
    background-color: var(--main-color);
    color: #fff;
}

.gallery_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 4rem;
}

@media (max-width: 768px) {
    .gallery_wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }
}

.gallery_item {
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}


/* when the gallery_item has 'show' class */

.gallery_item.show {
    animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* when the gallery_item has 'hide' class */

.gallery_item.hide {
    display: none;
}

.gallery_item img {
    transition: transform 0.3s ease;
}

.gallery_item:hover img {
    transform: scale(1.1);
}


/* Lightbox */

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 995;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}


/* when the lightbox is open */

.lightbox.open {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}

.lightbox_wrapper {
    display: grid;
    place-items: center;
    min-height: calc(100% - 3rem);
    margin: 1.5rem;
}

@media (max-width: 575.98px) {
    .lightbox_wrapper {
        margin: 0.5rem;
        min-height: calc(100% - 1rem);
    }
}

.lightbox_content {
    box-shadow: var(--box-shadow);
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease;
}


/* when Lightbox is open then lightbox-content will... */

.lightbox.open .lightbox_content {
    transform: scale(1);
}


/* lightbox-close-btn */

.lightbox_close {
    position: absolute;
    top: 3vh;
    right: 3vw;
    z-index: 999;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.lightbox_close span {
    width: 100%;
    height: 3px;
    margin-top: -1.5px;
    margin-bottom: -1.5px;
    background-color: #ddd;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.lightbox_close:hover span {
    opacity: 1;
}

.lightbox_close span:first-child {
    transform: rotate(45deg);
}

.lightbox_close span:last-child {
    transform: rotate(-45deg);
}


/***************************** FOOTER **/

footer {
    background-color: lavenderblush;
    padding: 10%;
}