* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Libre Franklin';
    width: 100vw;
    overflow-x: hidden;
}


/**********************/


/******  HEADER    ****/


/**********************/

header {
    height: 0px;
}

.listNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    color: black;
    position: relative;
    justify-content: center;
    gap: 15px;
    font-variant: small-caps;
    font-size: 32pt;
    transform: translateY(50%);
}

nav {
    background-color: blanchedalmond;
    position: fixed;
    transform: translateY(-150%);
    transition: ease-in-out .75s;
    height: 100vh;
    z-index: 2;
    width: 100%;
}

.nav-open {
    transform: translateY(0%);
    transform: translateY(-125px);
    position: fixed;
    transition: ease-in-out .75s;
    width: 100%;
}

.listNav a {
    text-decoration: none;
    color: black;
    position: relative;
}

ul {
    position: relative;
}

ul li {
    position: relative;
}

.menu {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;
}

.logo {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 64px;
}

nav ul li a::before {
    background-color: black;
    width: 0%;
    height: 3px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: ease-out .5s;
}

nav ul li a:hover::before {
    width: 100%;
    transition: ease-out .5s;
}


/******** MAIN **/

#s01 {
    margin: 120px 60px 0px 60px;
    height: auto;
}

h1 {
    font-size: 26pt;
}

h1,
h2,
h3 {
    font-family: 'Baskervville';
    position: relative;
}

h1::after,
h2::after,
h3::after {
    content: "";
    background-color: #FFE37B;
    height: 15px;
    width: 75%;
    position: absolute;
    bottom: 2px;
    left: 20%;
    z-index: -1;
}

.txt {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    margin-top: 35px;
}

.txt div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.txt a {
    color: black;
    text-decoration: none;
}

.map {
    margin-top: 30px;
}

.left {
    position: relative
}

.logoLeft {
    opacity: 35%;
    position: absolute;
    z-index: -1;
    left: -50%;
    top: -250px;
}


/***************************** FOOTER **/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    padding: 10%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

footer a {
    color: whitesmoke;
}