body {
    margin: 0 0;
    width: 100vw;
    overflow-x: hidden;
    
    display: grid;

    font-family: 'Raleway';
   
}

/************************************/
/**********  HEADER   ***************/
/************************************/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

nav {
    background-color: #FFFDFA;
    height: 100vh;
    width: 100vw;
    transition: 0.4s;
    transform: translateY(-200%);
    position: absolute;
    color: black;
    font-size: 36pt;
    padding:50px;
    overflow: hidden;
}

nav a,nav a:hover,nav a:visited,nav a:active{
    color: black;
	text-decoration:none;
}

.ferme{
    transform: translateY(0%);
    overflow:hidden; 
   
}

/************************************/
/**********  MAIN PAGE 1  ***************/
/************************************/


.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    width: 100vw;
    position: relative;
}

.slider>img {
    width: 100vw;
}



.txt {
    position: absolute;
    
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}



h1 {
    font-family: 'Cormorant Garamond';
    margin-top: -20px;
    margin-bottom: -15px;
}

/************************************/
/**********  MAIN PAGE 2   **********/
/************************************/

.s2txt {
    padding: 25px;
}

.button_gites {
    background-color: #ACC4A1;
    color: #FFFDFA;
    font-size: 22pt;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    padding: 10px;

    margin-left:25px;
    margin-bottom: 50px;
}

.button_gites a,.button_gites a:hover,.button_gites a:visited,.button_gites a:active{
    color: #FFF;
	text-decoration:none;
}

.s2img {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-bottom: 50px;
   
}


/************************************/
/**********  FOOTER   ***************/
/************************************/

footer {
    background-color: #1A200D;
    color:#FFF;
    font-size: 16pt;
    padding: 25px;
}

.tfooter {
    color:#ACC4A1;
    font-weight: bold;
    font-size: 24pt;
}

.nouscontacter {
    display: flex;
    flex-direction: column
}

footer a,footer a:hover,footer a:visited,footer a:active{
    color: #FFF;
	text-decoration:none;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Raleway:wght@100&display=swap');