/***************** HEADER + NAV **/

nav {
    transform: translateY(0px);
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: transparent;
    height: auto;
    padding: 15px;
    font-size: 36pt;
    position: absolute;
    top: 10px
}

.listNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 22pt;
}

.listNav a {
    color: #131313;
}

.menu {
    display: none;
}

.logo {
    width: 64px;
}

nav ul li a::before {
    background-color: #131313;
}


/******************/

h1 {
    font-size: 32pt;
}

h1::after,
h2::after,
h3::after {
    content: "";
    background-color: #FFE37B;
    height: 15px;
    width: 50%;
    position: absolute;
    bottom: 2px;
    left: 10%;
    z-index: -1;
}

.txt {
    width: 50%;
}

#s01 {
    display: flex;
    margin: 120px;
}

body .map {
    width: 50%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lavenderblush;
    padding: 5%;
    z-index: 2;
}