/***************** HEADER + NAV **/

nav {
    transform: translateY(0px);
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: transparent;
    height: auto;
    padding: 15px;
    font-size: 36pt;
    position: absolute;
    top: 10px
}

.listNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 22pt;
}

.listNav a {
    color: #FFFEFB;
}

.menu {
    display: none;
}

.logo {
    width: 64px;
}


/******************* MAIN **/

.txtMain {
    width: 75%;
    font-size: 36pt;
}

.txtMain h1 {
    font-size: 72pt;
}


/******************* SECTION 02 **/

.s02grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px;
    gap: 30px;
}

.photos02 {
    width: 80%;
}

.txts02 {
    font-size: 16pt;
    display: flex;
    justify-content: center;
    justify-content: baseline;
    padding-top: 15px;
    text-align: justify;
}


/********* FOOTER **/

footer {

    background-color: #131313;
    padding: 5%;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

footer a {
    color: whitesmoke;
}

footer a:hover {
    color: #51AE6F;
}


.footer-right {
    padding-right: 30px;
}