/***************** HEADER + NAV **/

nav {
    transform: translateY(0px);
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: transparent;
    height: auto;
    padding: 15px;
    font-size: 36pt;
}

.listNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 22pt;
}

.listNav a {
    color: #131313;
}

.menu {
    display: none;
}

.logo {
    width: 64px;
}


/**************** MAIN **/

h1::after,
h2::after,
h3::after {
    content: "";
    background-color: #FFE37B;
    height: 15px;
    width: 35%;
    position: absolute;
    bottom: 5px;
    left: 5%;
    z-index: -1;
}

#s01 {
    margin: 125px 150px 150px 150px;
}

h1 {
    margin-bottom: 30px;
}

.txtTop {
    padding-bottom: 60px;
}

.wrapper {
    display: grid;
    grid-template-areas: "photoCit01 p02" ". p03";
}

.photoCit01 {
    width: 75%;
    height: auto;
}

#s01 :nth-child(4) {
    background-color: transparent;
    margin: 0 0 0 0;
    padding: 0px;
}


/****************************************/

#s02 {
    margin: 125px 150px 150px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

#s02 div {
    background-color: blueviolet;
    background-image: url(/img/apropos/imgGite02.jpeg);
    background-size: cover;
    background-position: center;
}

.sepimg {
    height: 400px;
}

.photos02 {
    width: 50%;
    height: auto;
    display: none;
}

#s03 {
    margin: 125px 150px 150px 150px;
}

#s04 {
    margin: 125px 150px 150px 150px;
}


/********* FOOTER **/

footer {
    padding: 5%;
}